<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpt-IMrwp9T5dGFDp2Hn_zaKdyoOGeTis</string>
	<key>GCM_SENDER_ID</key>
	<string>192118681780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>danielagapov.Spawn-App-iOS-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>spawn-app</string>
	<key>STORAGE_BUCKET</key>
	<string>spawn-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192118681780:ios:78b48d6eddbb624752a7e1</string>
</dict>
</plist>