<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>GIDClientID</key>
	<string>822760465266-hl53d2rku66uk4cljschig9ld0ur57na.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.822760465266-hl53d2rku66uk4cljschig9ld0ur57na</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>spawn.activity.invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spawn</string>
			</array>
		</dict>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Spawn needs access to your photo library so you can select profile pictures and share images with friends.</string>
	<key>NSCameraUsageDescription</key>
	<string>Spawn needs camera access to allow you to take profile pictures and share photos with friends.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Spawn would like to save photos to your photo library.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Spawn needs access to your location to show you your current location on the map.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Onest-Bold.ttf</string>
		<string>Onest-Regular.ttf</string>
		<string>Onest-Medium.ttf</string>
		<string>Onest-SemiBold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
